<div class="nombreNegocio">
    <h1>{{negocio.Nombre}}</h1>
</div>
<h2>Productos:</h2>
<button type="button" [routerLink]="'/insertarProducto/'+negocio._id">Nuevo Producto</button>
<div class="grid-container">
    <div *ngFor="let producto of negocio.Productos" class="producto">
        <a [routerLink]="'/dnegocio/' + negocio._id + '/producto/' + producto.codProd">
            <div class="container">
                <div class="informacion">
                    <div class="Nombre">{{producto.Nombre}}</div>
                    <div class="Descripcion">{{producto.Descripcion}}</div>   
                </div>
                <div class="imagen">
                    <img class="imagen" src="{{producto.Imagen}}" alt="{{producto.Nombre}}">
                </div>
            </div>
        </a>
        <button type="submit" (click)="eliminar(producto.codProd)">Eliminar</button>
    </div>
</div>
