.barra-navegacion {
  background-color: #e44d26;
  text-align: center;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

.titulo{
  width: 100%;
  color: white;
}

.barra-navegacion a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
}
.categorias{
  display: flex;
  flex-wrap: wrap;
}

.barra-navegacion a:hover {
  text-decoration: underline;
}

hr {
  border: 1px solid #e44d26;
}
