body, html {
  height: 100%;
  margin: 0;
}

.mat-grid-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mat-grid-tile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 240px;
  height: 300px;
  width: 100%;
  margin: 10px;
}

.Nombre {
  font-size: 1.2em;
}

.Categoria {
  margin-top: 10px;
}

.imagen {
  max-width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 8px;
}