<app-header-administrador></app-header-administrador>

<button (click)="goBack()">goBack</button>
<h2>Pedidos Realizados:</h2>
<div class="grid-container">
    <div *ngFor="let pedido of pedidos" class="pedido">
          <div class="container">
              <div class="informacion">
                  <div class="Estado">{{pedido.estadoPed}}</div>
                  <div class="Monto Total">{{pedido.montoTotal}}</div><br>
                  <div *ngFor="let producto of pedido.productos" class="producto">
                    <div class="NombreProducto">{{producto.nombre}}</div>
                    <div class="Cantidad">{{producto.cantidad}}</div>
                    <div class="Precio">{{producto.precio}}</div><br>
              </div>
          </div>
    </div>
</div>
