<app-header-administrador></app-header-administrador>

<button class="Volver" (click)="goBack()">Volver</button>
<h2>Pedidos Realizados:</h2>
<div class="grid-container">
    <div *ngFor="let pedido of pedidos" class="pedido">
          <div class="container">
              <div class="informacion">
                  <div class="Estado">Estado: {{pedido.estadoPed}}</div>
                  <div class="Monto Total">Monto Total: {{pedido.montoTotal}}</div><br>
                  <div *ngFor="let producto of pedido.productos" class="producto">
                    <div class="NombreProducto">Producto: {{producto.nombre}}</div>
                    <div class="Cantidad">Cantidad: {{producto.cantidad}}</div>
                    <div class="Precio">Precio Unitario: {{producto.precio}} Bs.    </div><br>
              </div>
          </div>
          <button class="Actualizar" (click)="cambiarEstado(pedido._id)">Actualizar Estado</button>
    </div>
</div>
