.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  gap: 20px;

  align-content:space-between;
  padding: 20px;
}

.producto {
  background-color: #b1b4b5;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(164, 63, 63, 0.1);
}

.producto .Nombre {
  color: #800000;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif; /* Tipo de letra estilo carta */
  font-style: italic; /* Itálica */
}

.producto .Descripcion {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.producto .Precio {
  font-size: 20px;
  color: #3399ff;
  font-weight: bold;
}
a{
  text-decoration: none;
}
.nombreNegocio{
  text-align: center;
}
.container{
  display: flex;
  align-content: space-between;
}

.informacion{
  width: 100%;
}
.imagen{
  border-left: 0;
  max-width: 100%;
  max-height: 100px;
  margin-top: 10px;
  border-radius: 8px;
}

.producto .botones {
  display: flex;
  gap: 10px;
}

/* .producto .editar {
  display: none;
} */

.producto .botones button {
  padding: 10px;
  border: none;
  cursor: pointer;
}

button{
  border-radius: 8px;
  transition: 0.5s ease;;
}
button:hover{
  background-color: orange;

}
