<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <h1>Bienvenido a la Página Oficial de la Plaza de Comidas</h1>

    <p>Gracias por usar nuestra página. Aquí puedes ver el catálogo de productos de todos nuestros restaurantes y hacer tu pedido.</p>

    <button [routerLink]='["/negocios"]'>Ver Negocios</button>
    <img src="/assets/Logo Página.png" alt="Logo de la tienda">

</body>
</html>
