<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGINA PRINCIPAL</title>
</head>
<body>
    <div class="barra-navegacion">
        <br>
        <a [routerLink]="['inicio']"><b>INICIO</b></a>
        <a [routerLink]="['negocios']"><b>NEGOCIOS</b></a>
        <a [routerLink]="['contacto']"><b>CONTACTO</b></a>
        
    </div>
    <hr>
    <router-outlet></router-outlet>
    
    </body>
    <footer>
        <p>&copy; 2023 Proyecto Final Tec Web</p>
    </footer>    
</html>