button[type="button"] {
    padding: 15px 30px;
    background-color: #e44d26;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

button[type="button"]:hover {
    background-color: #c5371f;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form div {
    margin-bottom: 15px;
}

label {
    color: #333;
    margin-bottom: 5px;
}

input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    color: #333;
}

button[type="submit"] {
    padding: 15px 30px;
    background-color: #27ae60;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #219d49;
}
