<app-header-cliente></app-header-cliente>
<button class="Volver" (click)="goBack()">Volver</button>

<div *ngFor="let item of carrito" class="producto">
    <p>Producto: {{ item.codProd }}</p>
    <p>Nombre: {{ item.nombre }}</p>
    <p>Cantidad: {{ item.cantidad }}</p>
    <p>Precio Unitario: {{ item.precio }}</p>
    <p>Total: {{ item.cantidad * item.precio }}</p>
</div>
  
  <p>Total del carrito: {{ total }}</p>

  <button class="Cancelar" (click)="vaciarCarrito()">Cancelar</button>
  <button class="Confirmar" (click)="confirmarCarrito()">Confirmar</button>
